services:
  app:
    build: .
    ports:
      - "8000:8000"
      - "5173:5173" # Vite port
    volumes:
      - .:/var/www/html
    environment:
      DB_CONNECTION: sqlite
      DB_DATABASE: /var/www/html/database/database.sqlite
    tty: true
